@import url("./TopNav.css");
@import url("./main.css");
@import url("./Body.css");
@import url("./Home.css");
@import url("./PostCard.css");

:root {
    --small: 8px;
    --tiny: 6px;
    --medium: 12px;
    --large: 16px;
    --huge: 20px;
}


.huge-font {
    font-size: 24px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.p-10 {
    padding: 10px;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.curved-small {
    border-radius: var(--small);
}

.curved-large {
    border-radius: var(--large);
}

.padding-small {
    padding: var(--small);
}

.padding-large {
    padding: var(--large);
}

.float-all-sides {
    box-shadow: 2px 2px 2px 2px #f2f2f2;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #858585;
}

.background-light-gray {
    background: #fafafa;
}

.line-height-2 {
    /* line-height: 2; */
}

.p-x-medium {
    padding: 0 var(--medium);
}

.p-y-medium {
    padding: var(--medium) 0;
}

.postcard-container i:hover {
    background-color: #f1f1f1;
    border-radius: 500px;
    padding: 10px;
}