@import url("./TopNav.css");
@import url("./main.css");
@import url("./Body.css");
@import url("./Home.css");
@import url("./PostCard.css");
@import url("./Profile.css");
@import url("./ProfilePostCard.css");

:root {
    --small: 8px;
    --tiny: 6px;
    --medium: 12px;
    --large: 16px;
    --huge: 20px;
}

.br {
    background-color: red;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.huge-font {
    font-size: 24px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.justify-flex-start {
    justify-content: flex-start;
}

.p-10 {
    padding: 10px;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.curved-small {
    border-radius: var(--small);
}

.curved-large {
    border-radius: var(--large);
}

.round-image {
    border-radius: 100%;
    object-fit: fill;
}

.padding-small {
    padding: var(--small);
}

.padding-large {
    padding: var(--large);
}

.float-effect {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #858585;
}

.background-light-gray {
    background: #fafafa;
}

.line-height-2 {
    /* line-height: 2; */
}

.p-x-medium {
    padding: 0 var(--medium);
}

.p-y-medium {
    padding: var(--medium) 0;
}


.m-b-huge {
    margin-bottom: var(--huge);
}

.m-b-large {
    margin-bottom: var(--large);
}

.m-b-medium {
    margin-bottom: var(--medium);
}

.m-b-small {
    margin-bottom: var(--small);
}

.m-large {
    margin: var(--large);
}

.m-small {
    margin: var(--small);
}