.profile-post-card-container {
    width: 31%;
    height: 300px;
}

.profile-post-card-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background: radial-gradient(transparent 20%, white 70%);
    border-radius: var(--large);
}

.profile-post-card-container footer {
    color: white;
    margin-top: -70px;
    padding: var(--huge);
    z-index: 2;
}

.profile-post-card-container img:hover {}